        body {
            width: 100vw;
            ;
            background-color: black;
        }
        
        .container {
            width: 80%;
            background-color: white;
            padding-top: 10%;
            height: 800px;
        }
        
        .menu {
            background-color: F1F1F1;
        }
        
        .menu_a {
            display: flex;
            display: inline-block;
            width: 5.75rem;
            height: 2.25rem;
            line-height: 2.25rem;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.625em;
            color: lightgrey;
            background-color: white;
            padding: 0px 19.5px 0px 20.8px;
            border: solid 1px #D1D1D1;
            text-decoration: none;
            border-radius: 0.375rem;
            font-family: 'Lato', sans-serif;
        }
        
        .menu_a:hover {
            border: 1px solid orangered;
            color: orangered;
        }
        
        .zuraas {
            background-color: #d1d1d1;
            height: 1px;
            width: 50%;
            margin-top: 3%;
        }
        
        .avatar {
            margin-top: 3%;
            height: 20rem;
            border-radius: 50%;
        }
        
        hr {
            color: #D1D1D1;
            width: 70%;
            background-color: #D1D1D1;
        }
        
        .menu_h {
            color: #757575;
            margin: 0px 0px 30.3px;
            font: 30.3px;
            margin-top: 3%;
        }
        
        .taniltsuulah_p {
            font-family: 'Lato', sans-serif;
            color: #757575;
            font-size: 1.25em;
            display: flex;
            display: inline-block;
            line-height: 2.25rem;
            font-weight: 300;
            display: inline;
        }
        
        .taniltsuulah_div {
            width: 50%;
        }
        
        .todruulah {
            font-weight: bold;
        }
        
        .p_board {
            box-shadow: 1px 1px 1px 0.1px #d1d1d1;
            display: inline;
            color: #757575;
            margin: 0px 3px 0px 3px;
            background-color: #fffff9;
            padding: 0px 10px 0px 10px;
            display: flexbox;
        }
        
        .hobbi_div {
            box-shadow: #757575 1px;
            padding: 5px 5px 5px 5px;
        }
        
        .mainHobbiDiv {
            border: 1px solid #757575;
            box-shadow: 1px 1px 1px 1px #d1d1d1;
            display: inline-block;
            margin: 1% 1% 1% 1%;
        }
        
        .divZai {
            height: 1%;
            display: inline-block;
        }
        
        @media only screen and (max-width: 1397px) {
            .divZai {
                height: 1%;
                display: block;
            }
            .container {
                height: 900px;
            }
        }
        
        @media only screen and (max-width: 650px) {
            .divZai {
                height: 1%;
                display: block;
            }
            .container {
                height: 950px;
            }
        }
        
        @media only screen and (max-width: 400px) {
            .avatar {
                margin-top: 3%;
                height: 80vw;
                border-radius: 50%;
            }
        }
        
        .hobbi_div a {
            text-decoration: none;
        }
        
        .iconDiv {}
        
        .iconDiv img {
            height: 30px;
        }
        
        .iconDiv a {
            text-decoration: none;
            margin: 1%;
            margin-top: 1%;
        }
        
        @media only screen and (max-width: 517px) {
            .container {
                width: 80%;
                background-color: white;
                padding-top: 10%;
                height: 10s00px;
            }
            .taniltsuulah_p {
                font-family: 'Lato', sans-serif;
                color: #757575;
                font-size: 1em;
                display: flex;
                display: inline;
                line-height: 1.25rem;
                font-weight: 400;
                display: inline;
            }
            #container {
                height: 812px;
            }
            .zaii {
                height: 30%;
            }
            #avatar {
                margin-top: 20%;
            }
            .menu_a {
                display: block
            }
        }